@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Peso's Game Library</h1>
</div>

<div>
    <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<br><br>
<div class="text-center">
<h4>Number Wizard</h4>
</div>

<p>My first complete game. Very basic game that trys to guess the number you are thinking of using a higher and lower button.</p>


<form method="get" action="Games/NumberWizard.zip">
   <button type="submit" class="btn" style="width:100%"><i class="fa fa-download"></i> Download</button>
</form>

<br><br>
<div class="text-center">
<h4>Brick Breaker</h4>
</div>

<p>My version of the classic Brick Breaker game. Control the paddle with your mouse and the ball will destroy blocks until all blocks are destroyed then you will move on to the next level! Making this game was a great introduction to Unity physics engine! </p>


<form method="get" action="Games/BrickBreaker.zip">
   <button type="submit" class="btn" style="width:100%"><i class="fa fa-download"></i> Download</button>
</form>