@{
    ViewData["Title"] = "Information";
}
<h1>@ViewData["Title"]</h1>

<p>Hi I'm Ben, but you can call me Peso. I recently started learning C# so this is where I will host any games I make for download as well as use it as an opportunity to flex my web development muscles.
</p>
